{
    "extends": "airbnb-base",
    "rules": {
      "no-console": "off",
      "no-underscore-dangle": ["off", { "allow": ["id"] }],
      "linebreak-style": 0,
      "no-useless-escape": "off"
    }
}